[2016-07-13 01:16] kazimuth opened #2 "Docmentation in README for how to run"
It might not be obvious if you haven't used JSDoc before.

[2016-08-21 16:11] jvilk opened #3 "Map @typedefs with properties to interfaces"
[@typedefs can have properties on them.](http://usejsdoc.org/tags-typedef.html) When that occurs, I think they should be mapped to interfaces.

[2016-08-22 22:20] englercj commented on #3
I think this makes a lot of sense, I'll see if I can put together something soon.

[2016-08-22 22:20] englercj commented on #2
Good call, I should write something up for this.

[2016-08-23 01:01] englercj commented on #3
Ha, just realized I did already implement this just had a bug. Fixing now.

[2016-08-23 01:01] #2 closed

[2016-09-15 12:24] osechet opened #4 "Interfaces name is prefixed with 'I'"
When running tsd-jsdoc on [openlayers 3](https://github.com/openlayers/ol3), it prefixes the interface names with 'I' which lead to errors since typescript cannot find the original type. For example, the `olx.style.CircleOptions` interface is created as:
[code]
but others types still reference it as `CircleOptions`:
[code]

What is the reason for that 'I' prefix?

[2016-09-15 14:09] englercj commented on #4
Probably isn't necessary, can you give a me a code snippet that reproduces?

[2016-09-16 07:07] osechet commented on #4
It's rather difficult to provide a snippet that reproduces the behavior of jsdoc with openlayers. They use plugins to preprocess their files.
For example, the `CircleOptions` type is defined as follow:
[code]
and results as:
[code]
Everything is fine except the 'I' prefix.

In your code, I saw you just add that prefix. Is it possible to have an option to enable/disable that behavior?

[2016-09-16 15:22] englercj commented on #4
Thanks for opening #5, I'm sure that will be super useful!

[2016-09-20 10:11] no-more opened #6 "Issues in generated files"
Hi,

I'm just a user of forerunnerdb and they are using your tool to generate their types.d.ts file
I have pointed out a few issues on the generated file.
- types are generated inside of a class declaration
  - https://github.com/Irrelon/ForerunnerDB/issues/152
- Array are defined without type, should be typed <any> by default ?
  - https://github.com/Irrelon/ForerunnerDB/issues/154

The generated

[2016-09-20 14:42] englercj commented on #6
Can you point me to the source that generates the bad TS? usually if there is no generic arg to the Array class, it is because there was no type specification in the source jsdoc.

[2016-09-20 16:08] no-more commented on #6
Hi,

This is the input file (I think) : https://raw.githubusercontent.com/Irrelon/ForerunnerDB/master/js/dist/fdb-all.js
the online doc is here : https://www.forerunnerdb.com/source/doc/index.html
As you've said Array are untyped. I don't know much about jsdoc, what should the doc specify in order to return any[] in the typescript definition file ? Is it "Array.any" ?
Is it possible to automatical

[2016-09-20 17:03] englercj commented on #6
Yeah we can assume `any[]` for untyped `Array`'s. The idea behind not doing that would be that the TS errors you got would make you go back and type your arrays properly in the docs. Because generally invalid TS output means invalid jsdoc.

[2016-09-20 17:10] englercj commented on #6
As for the other one (types inside of class declarations) that is definitely a bug here. According to [this](https://github.com/Microsoft/TypeScript/issues/7061#issuecomment-183517330) what I need to do is queue up these types and add them to a namespace of the same name as the class.

Thanks for bringing this up!

[2016-09-20 17:39] englercj opened #7 "Rewrite emitter code"
Need to investigate the TS2 compiler API and see if it is in a place where we can emit output using typescript itself.

If not a good alternative may be: https://github.com/RyanCavanaugh/dts-dom.

[2016-09-20 17:39] englercj commented on #4
Merged!

[2016-09-20 17:39] #4 closed

[2016-09-26 08:24] osechet opened #8 "Improvements"
The openlayers library is very well documented and is a good example to test tsd-jsdoc. Running the tool on the library, I get several errors that could help to improve tsd-jsdoc. Here is a list:
- Array of Array: When a type or an argument is defined as `Array<Array<something>>`, only one Array is processed, ending with `Array<something[]>`. The same way, an `Array<Array<Array<something>>>` ends

[2016-09-26 14:26] englercj commented on #8
Thanks for the notes, I am working on a few of these now; but some of them are new. I will try to get something going here over the next few weeks but I am pretty busy atm.

[2016-10-04 22:45] aendrew commented on #6
@englercj Confirming that approach solves the issue — I moved the types generated inside classes into a namespace of the same name as the class and it seems to make everything work, at least in terms of how [`github-api`](https://github.com/michael/github/pull/386) uses JSDoc. Happy to PR it, though be forewarned I am very new to the JSDoc plugin API!

[2016-10-05 00:23] englercj commented on #6
Np, I'm working on v2 now. It adds some TS 2 features, uses a better emitter, and fixes a lot of these types of bugs.

I should have it done over the next week or two.

[2016-11-10 05:32] dcodeIO opened #9 "On private members and overrides"
I have a config here that reads

[code]

When I run this with tsd-jsdoc, it generates definitions for private members with a leading `_`, which will, on a production build, be renamed to something random. Is there another way to exclude them?

Also, when I `/** @override */` a method with a different signature, the overridden signature seems not to be included in the output. Let's say I have a `Re

[2016-11-10 20:49] englercj commented on #9
Thanks for the report, after I finish my proto -> ts stuff I'll hope back onto my write here and ensure this gets fixed.

[2016-12-13 09:43] jmls commented on #6
I take it v2 is not yet released ? ;)

[2016-12-13 20:49] englercj commented on #6
Nope, haven't had time to come back to this; been extremely busy at work.

[2017-02-04 02:20] aequasi opened #13 "Should generate properties using @prop doc on class"

[2017-02-06 21:24] englercj commented on #9
Got this fixed in v2, unfortunately there are some jsdoc bugs that make this not work 100%:

- Private constructors will still show up when `private: false` in your config
 * https://github.com/jsdoc3/jsdoc/issues/952
- Overridden methods with different parameters do not resolve properly.
 * https://github.com/jsdoc3/jsdoc/issues/1215

[2017-02-06 21:25] #9 closed

[2017-02-06 21:34] englercj commented on #13
Fixed in v2.

[2017-02-06 21:34] #13 closed

[2017-02-06 22:34] englercj commented on #7
Using dts-dom in v2 now.

[2017-02-06 22:34] #7 closed

[2017-02-06 23:09] englercj commented on #6
Getting closer on this, just a few more things to work out and I should be able to release v2 soon. Sorry its been so long :(

[2017-02-06 23:10] englercj commented on #8
Getting closer on this, just a few more things to work out and I should be able to release v2 soon. Sorry its been so long :(

[2017-02-08 19:48] aequasi commented on #13
When is v2 being released?

[2017-02-09 19:13] englercj commented on #13
When I have time to finish it :)

[2017-02-11 19:41] englercj commented on #8
Got the module declaration stuff working for inner classes and types.

One note about the function stuff is that while I don't support inline function definitions (yet), your use case is supported if you use the JSDoc [`@callback`](http://usejsdoc.org/tags-callback.html) tag to create a named callback, that you then use elsewhere.

You can see an examp[le declaration of a callback [here](https://g

[2017-02-11 19:41] #8 closed

[2017-02-11 19:42] englercj commented on #6
Got the module declaration stuff working for inner classes and types, as well as fixing array/object definitions.

I'll put out a v2 beta build shortly.

[2017-02-11 19:42] #6 closed

[2017-02-11 20:02] englercj opened #14 "Extending generic objects"
When extending a generic object, the output fails to put the template param. Additionally, it doesn't allow you to specify a template param value (specialization) in the `@extends` tag.

To fix this, need to refactor the object resolution to instead of being `this.objects[longname]` everywhere, use a utility function that can deal with the generic params.

[2017-02-11 20:05] englercj opened #15 "Params should resolve long name"
Right  now params seem to output just the name of the object they reference. This means if you do something like this:

[code]

It will output:

[code]

Note the missing `testns.` on the param type.

(This may require dts-dom changes)

[2017-02-11 20:08] englercj opened #16 "Built-In Non-Primitive Types"
There are many built-in non-primitive types (like Promise<T>, HTMLElement, Date, etc). Need a way to support these in the correct way where it works for all the different js environments, but also continues to warn on type resolution errors.

How can I know when a type is not in jsdoc, but will exist in the environment? Maybe I can use TypeScript global defs?

[2017-02-11 20:09] englercj opened #17 "Refactor/Cleanup Emitter"
The emitter is too monolithic, was fine for getting it working quickly but this needs to be split out and modularized.

[2017-02-11 20:19] englercj commented on #13
Just released `v2.0.0-beta.1`, there are still bugs (the issues I opened) but please feel free to try it out and file more bugs!

[2017-02-11 20:19] englercj commented on #9
Just released `v2.0.0-beta.1`, there are still bugs (the issues I opened) but please feel free to try it out and file more bugs!

[2017-02-11 20:19] englercj commented on #8
Just released `v2.0.0-beta.1`, there are still bugs (the issues I opened) but please feel free to try it out and file more bugs!

[2017-02-11 20:20] englercj commented on #3
Just released `v2.0.0-beta.1`, and I think this is active there.

[2017-02-11 23:54] englercj commented on #3
Nope this works using Object Type notation in v2 rather than using interfaces.

[2017-02-11 23:54] #3 closed

[2017-02-16 21:06] nightpool opened #18 "Cannot find module 'publish'"
I'm trying to run jsdoc against an already existing library, but I get the error `FATAL: Unable to load template: Cannot find module './node_modules/tsd-jsdoc/publish'`. I've confirmed that npm install worked, but it looks like the publish file was removed in this commit: https://github.com/englercj/tsd-jsdoc/commit/c8b7f3c99b39ab90568c2116b24497ffe76146a8

this is the command I'm using: `jsdoc -c

[2017-02-16 21:08] nightpool commented on #18
Using `-t node_modules/tsd-jsdoc/lib` instead leads to this error:

[code]

[2017-02-16 21:10] nightpool commented on #18
i should note that I'm using the latest `2.0.0-beta.1` from npm

[2017-02-16 22:40] englercj commented on #18
Hmm, looks like jsdoc expects the publish.js file to be in the root folder of the template directory. I assumed it used the `main` property of the package.json but I guess not.

As for the e.kind is null error, can you give me a js block that reproduces it?

[2017-02-16 23:07] nightpool commented on #18
For the first, I get a very similar error: `FATAL: Unable to load template: Cannot find module 'tsd-jsdoc/publish`

For the second, here's a minimal reproduction:

[code]

[2017-02-16 23:12] nightpool commented on #18
also I can't get the tests to work at all.....

[2017-02-17 00:02] englercj commented on #18
Thanks for trying that, I'll move the publish script around.

There aren't any "tests" yet, all `npm test` does is run on the js files in there and output a file that I can look at manually. No automated testing yet. When you say "I can't get the tests to work all all" can you tell me what that means? Are you running on a cloned repo or the installed package? The installed package doesn't include

[2017-02-17 00:20] nightpool commented on #18
I mean that if I clone the repo, do npm install, npm build, and npm test, I get an error.

[2017-02-17 00:22] nightpool commented on #18
Also, to be clear, I reduced down the minimal test case I provided earlier from ~1,000 lines of module code. The problem is clearly not that it's standalone.

[2017-02-17 00:24] #18 closed

[2017-02-17 00:26] englercj commented on #18
When I ran it with all my other code it worked, I only got the error when I ran it on only this code piece. Turns out it was due to a logic error in how I handle the "private" config which is probably different in your config than in the repo's.

Can you share what the error is?

---

This should be fixed now in `v2.0.0-beta.2`.

[2017-02-17 00:26] nightpool commented on #18
@englercj the error is in the comment

[2017-02-17 00:27] englercj commented on #18
So the original error you got running on your code, was also the same error you got when running the tests?

[2017-02-17 00:28] nightpool commented on #18
No, that's a different error.

[2017-02-17 00:28] nightpool commented on #18
![image](https://cloud.githubusercontent.com/assets/233815/23047480/187577fe-f47e-11e6-846d-41218d1b90e3.png)

[2017-02-17 00:31] englercj commented on #18
Looks like dts-dom hasn't released my additions that add support for indexSignature. I'm locally using `HEAD` and not the tagged release, which is why it works for me.

Hopefully they release it soon.

[2017-02-17 16:57] englercj commented on #18
Ok, released, as long as you have `0.0.15` installed it should be good to go. Let me know if you have any more issues, open as many as you want. I appreciate you trying out the beta.

[2017-03-08 16:34] ffflorian opened #19 "Unable to resolve type name "Uint8Array"."
When I define a variable to be of type `Uint8Array`, I get the following error:
`[TSD-JSDoc] Unable to resolve type name "Uint8Array". No type found with that name, defaulting to "any".`

-----------

Code example:
[code]

[2017-03-08 17:45] englercj commented on #19
Duplicate of #16

[2017-03-08 17:45] #19 closed

[2017-03-14 12:43] bennyn commented on #16
@englercj I've read that you don't support the `Uint8Array` type (https://github.com/englercj/tsd-jsdoc/issues/19)? What's the problem with it? I've seen that some projects (like [protobuf.js](https://github.com/dcodeIO/protobuf.js)) can do it.

[**message.js**](https://github.com/dcodeIO/protobuf.js/blob/6.6.5/src/message.js#L62)

[code]

[**index.d.ts**](https://github.com/dcodeIO/protobuf.js/bl

[2017-03-14 12:59] dcodeIO commented on #16
protobuf.js currently uses a fork of this library (this was done do get this going asap), located here: https://github.com/dcodeIO/protobuf.js/tree/master/lib/tsd-jsdoc

Plan is to switch back to the new version of tsd-jsdoc eventually, after contributing the changes I've made.

[2017-03-14 15:17] englercj commented on #16
@bennyn The old version of this lib wrote out types even when it didn't understand them. This was because the previous version didn't understand types at all, it operated on text. The new version operates on types and resolves them. This fixes a host of issues the first version had, and introduces a host of new features.

The catch becomes, how do I resolve a type (like `Uint8Array`) that isn't sp

[2017-03-14 15:26] dcodeIO commented on #16
Closure compiler's externs could be a resource for gathering type information. These exist for all kinds of stuff, including common libraries and node.

[2017-03-14 15:39] bennyn commented on #16
TypeScript also defines a number of default ECMAScript types here: https://github.com/Microsoft/TypeScript/blob/master/lib/lib.es2015.d.ts

As a workaround, which "older" version of **tsd-jsdoc** do I need to install in order to get an output for the `Uint8Array`?

[2017-03-14 15:48] dcodeIO commented on #16
@bennyn : protobuf.js's fork is based on [1.0.1](https://github.com/englercj/tsd-jsdoc/releases/tag/v1.0.1). Alternatively, if protobuf.js is present, you could also set `template: "node_modules/protobufjs/lib/tsd-jsdoc"` in your [jsdoc.conf](https://github.com/dcodeIO/protobuf.js/blob/master/config/jsdoc-types.json) for the time being.

[2017-03-14 16:07] englercj commented on #16
The goal I want to achieve is to warn the user when I encounter an unknown type (something they should fix) but still allow built-in types to be output as-is.

I'll probably end up adding in some configuration on which typescript defs to use, defaulting to something largely encompassing.

[2017-03-20 12:54] ffflorian opened #20 "Export module"
// cc @dcodeIO

What JSDoc comment do I have to use to export a module? I have this sample code:

[code]

And with the help of [dcodeIO/tsd-jsdoc](https://github.com/dcodeIO/tsd-jsdoc) I can generate the following `.d.ts` file:
[code]

But how can I generate `export module MyModule`? I read the JSDoc reference but could not figure it out. I'd be happy if you could help me with that 🙂

[2017-03-20 15:13] englercj commented on #20
dcodeIO's fork is no the latest version. declare should be correctly added to all items output in the definition in the latest version.

You can try it out with `npm install tsd-jsdoc`. Right now the latest is `v2.0.0-beta.2`. If you have issues with that version, let me know.

[2017-03-20 15:28] ffflorian commented on #20
@englercj Thanks for your reply.

Unfortunately I can't use your latest version in my project, because non-primitive types are not supported yet (https://github.com/englercj/tsd-jsdoc/issues/16). But I think it's more of a general TypeScript issue on my side - seems like I have to switch from `module.exports = MyClass` to `export MyClass`.

[2017-03-20 15:40] englercj commented on #20
Right now it falls back to `any`, I'm hoping to have time next weekend to fix it up.

[code]

[2017-03-20 15:43] ffflorian commented on #20
Alright, thank you! 🙂

[2017-03-20 15:43] #20 closed

[2017-03-22 17:10] ffflorian opened #21 "Properties missing when adding a module/namespace"
Using the current beta, I have this example code:
[code]

Which is converted to
[code]

As you can see, the `message` property is missing.

When I use the following code (without `module`), `this.message` is not missing:
[code]

Converted:
[code]

[2017-03-23 14:27] englercj commented on #21
Interesting, thanks for the repro case I will look into this soon.

[2017-03-26 17:00] jskrzypek opened #22 "Function parameters don't receive types which causes an error"
I was trying to generate a declaration file for `https://github.com/twilio/twilio-video.js` and I got this error.

[code]

[2017-03-26 17:32] englercj commented on #21
Looks like this is a jsdoc issue with parsing ES6 classes:

https://github.com/jsdoc3/jsdoc/issues/1182

The names are output incorrectly and therefore tsd-jsdoc can't resolve them.

[2017-03-26 17:59] #22 closed

[2017-03-26 20:52] jskrzypek commented on #22
Wow, that was fast! I'll test tomorrow, thanks!

[2017-03-26 22:55] englercj commented on #22
You just happened to post right when I was working on this lib :P

[2017-03-27 13:15] jskrzypek commented on #22
Now it's happening with class members, it seems...
[code]

[2017-03-27 18:51] englercj commented on #22
Damn, guess I should've reran on the entire file and not just the problem area. Sorry about that.

I'll take a look when I can (this weekend?)

[2017-03-27 20:28] jskrzypek commented on #22
I started working on some improvements, they're on my fork

[2017-03-27 20:54] jskrzypek commented on #22
Specifically, I'm getting​ around the error above by doing this: https://github.com/jskrzypek/tsd-jsdoc/commit/bdb1b66b9610b1b8e49a878e23ca2073cd3db5fb

[2017-03-28 10:50] ffflorian commented on #21
@englercj Thanks for looking into this. We'll have to wait for a JSDoc fix then.

[2017-03-30 11:32] fabien0102 opened #23 "Listing properties on an object type does not work"
Hello,

I'm trying to generate types.d.ts for [gitgraph.js](https://github.com/nicoespeon/gitgraph.js/tree/typescript)

This is my problem:
[code]

My `options` is not correctly parsed, idealy I would like to export an interface of `GitGraphOptions` but I can't find any jsdoc notations for have the correct output…

If anyone have a simple solution, I take it, otherwise it can be a real issue

Than

[2017-03-30 15:26] englercj commented on #23
Good catch, looks like this is broken right now!

As a workaround you can create an interface to use as the param type:

[code]

I'll mark this as a bug and try to get it fixed this weekend.

[2017-03-31 08:11] fabien0102 commented on #23
Thanks for your answer, but I think we have second issue => your example doesn't deal with optionnals properties ;)

[2017-03-31 08:51] fabien0102 opened #24 "Custom type as any into @module"
Hello,

If I add `@module` on top of my file to generate a virtual namespace, typedef not following as expected.

Example:

[code]

`options:any` should be `options.GitGraph.GitGraphOptions`

[2017-03-31 13:25] RMcNeely opened #25 "Invalid output on functions taking params argument"
We're using this template to generate a definition file for our library and we've come across something that doesn't seem to be accounted for. We frequently use the pattern of passing an object named `params` to different functions throughout the library. These functions take this design with their JSDoc comments:

[code]
It seems that this pattern isn't used in Typescript and the only way (in my

[2017-03-31 15:30] englercj commented on #25
Thanks for the report, closing this to track under #23

[2017-03-31 15:30] #25 closed

[2017-03-31 15:31] englercj commented on #24
Duplicate of #15

[2017-03-31 15:31] #24 closed

[2017-05-09 15:40] bennyn opened #26 "Configuration option for "types.d.ts" location"
If I use `tsd-jsdoc` as a JSDoc template, then it will write the `types.d.ts` file into JSDoc's documentation directory. It would be nice if I could specify a separate location where I want the `types.d.ts` file to go.

My current setup is this (`package.json`):

[code]

At the moment `types.d.ts` will be inside of `doc/types.d.ts`.

[2017-05-17 17:07] englercj commented on #26
Curently it does use the `destination` option to write the file:

https://github.com/englercj/tsd-jsdoc/blob/b2403a45c937951c92a311f401cb0af443be1ac9/src/publish.ts#L26-L38

[2017-07-10 13:03] DDtMM opened #28 "Cannot read property 'kind' of null (2.0.0 beta 3)"
I was trying to use this project to generate typings for an existing project.  If I just use jsdoc, it generates documentation correctly.  However, when using tsd-jsdoc I'm getting Cannot read property 'kind' of null in dts-dom.

At the bottom are the configurations I used and the command I run.  This should be enough after running `npm install` to reproduce the error.  My goal is to generate type

[2017-08-04 13:26] VinceOPS opened #29 "Support of "nullable types" or optional paramaters ({?number}, {string} [myParam], etc)"
Hi,

First things first: thanks for this lib. It works beautifully, even if still "experimental".

I started using it to get autocompletion from VSCode intellisense accross my pure javascript object services/controllers (AngularJS app). I recently implemented Flowtype in this same projet and noticed that I could simply use the generated `tsd` file as a **flow-typed** definition. Which is quite a g

[2017-08-04 17:15] englercj commented on #29
The jsdoc comment it output verbatim from what jsdoc gives us. If the comment is wrong in the output, then jsdoc isn't parsing it the way you think it is. I'm pretty sure that is CC syntax not JSDoc (strictly speaking), maybe that is the issue?

That being said, there isn't really a "nullable" concept in Typescript so I'm not sure how I would express that concept anyway (outside the comment).

[2017-08-04 17:32] VinceOPS commented on #29
Hi @englercj

Thanks for your quick answer.
You're right about nullable parameter for Typescript.

The syntax comes from [usejsdoc.org](http://usejsdoc.org/tags-type.html):

But you're right, what I'd rather use is **optional parameter**, which is like:
[code]

Which should be, in typescript:
[code]
According to the [TS doc](https://www.typescriptlang.org/docs/handbook/functions.html) @ "Optional

[2017-08-04 23:37] englercj commented on #29
This should work correctly now when marked as optional, is that working for you?

As for nullable, not sure why your comment is rewritten...

[2017-08-05 13:50] NewFuture commented on #29
Hi @englercj, thanks for your great tools.

but, it's still not working for me (2.0.0-beta.3)

JavaScript
[code]
.d.ts
[code]
When commentting `i` as `class`, it will parse correctly.
is there any bug?

[2017-08-05 13:56] VinceOPS commented on #29
@englercj Sorry for the delay - nope, the "optional parameter" syntax is not working.
Just like @NewFuture , I am using `@interface` (appropriate).

[2017-08-05 16:39] englercj commented on #29
Hmm, I'll have to look into that. If it is working in class, but not interface then it is likely a bug. Strangely though this lib doesn't treat functions in interfaces and classes differently. It is possible jsdoc has another parsing issue.

[2017-08-06 02:54] NewFuture commented on #29
I built the js file to html by the JSDOC,.
in the result,  the `optional` will be marked as  `opt` correctly.

Maybe jsdoc has different behaviors for the methods of class and inteface.

[2017-08-06 03:43] NewFuture opened #30 "how to [overload] function"
Hi,  I have a problem to declare the overload function.

jscomments:
[code]
the result:
[code]
expect:
[code]

The JSDOC default template can build both functions

it there any way to do like this?

[2017-08-06 14:05] englercj commented on #30
Ah I think this is because I use the FQN of a function as the key for storing it; so currently there can only be one. Good catch.

[2017-08-06 14:46] NewFuture commented on #30
hi, look here https://github.com/englercj/tsd-jsdoc/blob/master/src/Emitter.ts#L177-L179

I remove those 3 lines and using the `@variation ` it weill work correctly

[code]
it will  parse as `f(1)` and `f(2)`

But I'm not sure whether there is any side effects

[2017-08-07 15:21] NewFuture commented on #29
@englercj
i think it is a bug of dts-dom.
https://github.com/RyanCavanaugh/dts-dom/blob/master/lib/index.ts#L672-L674

here it doesn't add `?` for the method of interface

[2017-08-07 15:22] englercj commented on #29
Ah, great catch! That certainly seems like the issue. Thanks for tracking this down.

[2017-08-07 15:33] VinceOPS commented on #29
Hi guys, thank you for catching this.
I guess I'll just create an issue for dts-dom and let you know when this is fixed.

[2017-08-07 15:34] NewFuture commented on #29
sure, I create an issue in dts-dom https://github.com/RyanCavanaugh/dts-dom/issues/27

[2017-08-07 15:34] VinceOPS commented on #29
(previous comment removed)

Thanks for handling this with us @NewFuture ! Thanks again for your work @englercj

[2017-08-07 15:47] NewFuture commented on #30
hi, @englercj
I think it should be filtered by the `longname` rather than the `name` , if filter is needed here.

please fix it, thanks~

[2017-08-12 04:11] NewFuture commented on #29
fixed

[2017-08-17 10:19] bennyn commented on #21
@englercj The jsdoc3/jsdoc#1182 issue has been resolved with JSDoc 3.5.0: https://github.com/jsdoc3/jsdoc/issues/1182#issuecomment-313750674

Current release version of JSDoc is 3.5.4, so it looks like this issue here can get fixed? 🤗

[2017-08-17 14:57] englercj commented on #21
Does it work now when using jsdoc v3.5?

[2017-08-29 14:32] macleodbroad-wf opened #31 "Crashes when encountering comment blocks"
When running against a file that contains comment blocks ~~without jsdoc tags~~ directly above a variable declaration that does not reference a function or class:
[code]
It appears to crash with:
[code]

I've been able to work around the issue by adding the `@ignore` tag to the comment block.

[2017-08-29 14:35] macleodbroad-wf commented on #28
One of your issues may be related to https://github.com/englercj/tsd-jsdoc/issues/31

[2017-08-29 14:54] englercj commented on #28
Most useful is a block of JS/JSDoc that when run through this template produces your error. Thanks!

[2017-08-29 22:16] macleodbroad-wf opened #32 "`@constructor` or `@class` in jsdoc above a function declaration crashes"
When encountering a top-level function where the `@constructor` or `@class` tag is used in the jsdoc:
[code]

Crashes with exception:
[code]

Can work around it by removing the `@constructor` or `@class` tag.

[2017-10-12 06:52] wimrijnders opened #34 "Error: Cannot read property 'length' of undefined"
Hi there, while trying out `tsd-jsdoc` on [`vis.js`](), I got the error mentioned in the title, at [this location](https://github.com/englercj/tsd-jsdoc/blob/master/src/Emitter.ts#L257-L261) in the code:

[code]

There is no urgency to have this fixed, just trying it out. But could you supply me with a workaround to continue?

[2017-10-18 18:42] joelhegg commented on #34
See the same issue with actions-on-google.

[2017-10-26 16:10] stereobooster opened #35 "Does not support TypeScript style JSDoc, which were added in TS2.3"
Example here https://github.com/GoogleChrome/puppeteer/pull/1170

[2017-10-26 16:27] stereobooster commented on #16
Alternative way is to check if it is present in TypeScript definitions, like "@types/node": "^8.0.46",.

Because tsc (starting from 2.3) can be used to validate types based on jsdoc it will require those definitions too.

[2017-10-26 17:33] joelhegg commented on #34
In the actions-on-google case the problem was there was a typedef and a class with the same name. I deleted the typedef and the problem went away.

[2017-10-27 15:06] englercj commented on #34
That sounds like an issue, but the lib still shouldn't crash. Sorry I just haven't had time to look into this lately. I will get back to it at some point, but in the meantime feel free to put in PRs if you find the solution.

[2017-10-30 19:52] stereobooster commented on #35
corresponding issue in TS https://github.com/Microsoft/TypeScript/issues/7546

[2017-10-30 19:52] #35 closed

[2018-03-15 14:13] ms10398 opened #37 "Need help regarding how to use"
https://github.com/ms10398/openfoodfacts-nodejs

I want to use it on this module but I am unable to use it

Can anyone help me regarding it.

[2018-03-15 15:27] englercj commented on #37
What is the issue you are encountering?

[2018-03-15 16:44] ms10398 commented on #37
Thanks for consideration!

I solved the issue by myself.

Great Project! Appreciation from me.

[2018-03-15 16:44] #37 closed

[2018-03-27 00:51] apptaro opened #38 "How to resolve these errors?"
Hi, @englercj I came here from: https://github.com/pixijs/pixi-ui/issues/16
Basically, I am trying to create .tsd for pixi-ui, but I see the errors below. How can I solve?

[code]

[2018-03-27 01:00] englercj commented on #38
This means the jsdoc refers to a type that we didn't find anywhere. Generally this is because the jsdoc uses a type name that they didn't define. Or it is a [built-in type that we don't support yet](https://github.com/englercj/tsd-jsdoc/issues/16).

Specifically for `Number` I think what we look for is `number` so that might be the issue. Similarly for `Boolean` vs `boolean`, and `String` vs `stri

[2018-03-27 01:26] apptaro commented on #38
@englercj Thank you for your response.

I am new to JSDoc, so please help me here. For the Number/String/Boolean issue, should pixi-ui be fixed to use number/string/boolean for their docs?

[2018-03-27 01:36] englercj commented on #38
Yes, either the jsdocs need to change or this lib needs to fix #16 or the other fix for this lib I mentioned.

[2018-03-27 02:24] apptaro commented on #38
What about Object/Array? I get the error below even if I use lower-cased object/array:
[code]

Also, pixi-ui references some types from pixijs, and gets the error below:
[code]
How do I let tsd-jsdoc know about those types?

[2018-03-27 14:44] englercj commented on #38
Just like the error mentions, those types are not recognized, and so it falls back to `any`. Like mentioned in #16 built-in js types do not resolve currently. Either define the object explicitly with a typedef [like this](https://github.com/englercj/tsd-jsdoc/blob/84a6c4247cfeb31254d5cab99e96bac60c2c51e9/test/test.js#L20-L22) or change it to `any` or ignore the warning.

This library isn't magic,

[2018-03-28 15:41] apptaro commented on #38
So issues addressed here is already on #16 so I'm closing this one.

[2018-03-28 15:41] #38 closed

[2018-05-26 13:16] e-cloud opened #42 "Why do we have to copy the members of interface to class definitions?"
see https://github.com/englercj/tsd-jsdoc/blob/07c6298604494d0612cfcfd1f5bbb134ce0a0d26/src/Emitter.ts#L335

a reasonable version
[code]

current output
[code]
The reason of static occurrence is because in jsdoc mixins do not apply `scope: instance`.

I can not figure out why should we copy those members to class. IMO, it's unnecessary.

[2018-05-28 15:15] englercj commented on #42
Because the first thing you listed is invalid Typescript.

[code]

[2018-05-28 15:19] englercj commented on #16
A basic version of this is working in the latest, using an MDN scrape.

[2018-05-28 15:19] #16 closed

[2018-05-28 15:19] #17 closed

[2018-05-28 15:20] englercj commented on #21
Looks like this has been fixed.

[2018-05-28 15:20] #21 closed

[2018-05-28 15:27] englercj commented on #26
Ping, can you clarify what you are asking for? When using this lib as the template only the `types.d.ts` file is output. If you want documentation output you will need to run a separate command with a different template.

[2018-05-28 15:29] #29 closed

[2018-05-28 16:08] e-cloud commented on #42
Emmmmm, @englercj you are right. We may achieve the same goal via simpler solution. See https://github.com/Microsoft/TypeScript/issues/340#issuecomment-184964440

[2018-05-28 17:01] englercj commented on #30
So there are two issues here.

Firstly, JSDoc will not have 2 declarations for two symbols that have the same longname. In your example, both `f` functions have the same longname and are therefore combines. Simply adding `@variation <something>` fixes that.

Secondly, two functions that share the same name in a class or namespace will get deduped by tsd-jsdoc even if they have different longnames.

[2018-05-28 17:13] #30 closed

[2018-05-28 17:15] englercj commented on #42
Seems reasonable, happy to merge a PR that uses namespace merging instead of copying members.

[2018-05-28 17:16] englercj commented on #31
Thanks for the report, I'll make sure to handle this more gracefully.

[2018-05-28 17:18] englercj commented on #32
Looks like this is no longer happening in the latest v2

[2018-05-28 17:18] #32 closed

[2018-05-28 17:19] englercj commented on #34
Do you have a minimal example that reproduces this issue? The links don't seem valid anymore.

[2018-05-29 09:37] wimrijnders commented on #34
@englercj Well, this is a blast from the past; I'd completely forgotten about this and moved on, so it's not relevant for me any more. I wouldn't know how to reproduce it if I tried. I was hoping that indicating the position in the code would be sufficient.

I have no need for a fix here; if it all depends on me, you can close the issue. But perhaps your conscience will indulge you to have a go at

[2018-05-29 14:49] englercj commented on #34
Unfortunately the link was to `master` rather than a specific revision. Since the code has changed I don't know what the block you linked to looked like :(

I'd like to fix the issue, but I don't have an example of how to cause the crash.

[2018-05-29 15:53] wimrijnders commented on #34
Oops my bad. TIL.

[2018-05-30 06:52] wimrijnders commented on #34
I browsed back in the history to find the relevant code.

[This is the latest revision containing it](https://github.com/englercj/tsd-jsdoc/blob/41e1c88d42691bcead752695bacd7a6f4ba78c5b/src/Emitter.ts#L2570).

By the looks of it, this is now a non-issue, since the code has changed significantly at that point.

HTH.

[2018-05-30 15:34] englercj commented on #34
Going to close this for now, and if it happens again we can fix it then.

[2018-05-30 15:34] #34 closed

[2018-05-30 18:04] wimrijnders commented on #34
Totally agree! Good riddance to you, issue!

[2018-06-05 17:12] irgendwr opened #44 "TypeError: o.members is not iterable"
[code]

First up: its a bit annoying that you changed the required template path from `./node_modules/tsd-jsdoc` to `./node_modules/tsd-jsdoc/dist` after `2.0.0-beta.3` without mentioning it anywhere.

But my main issue is the following:
[code]
This can be reproduced by cloning [SinusBot/scripting-docs](https://github.com/SinusBot/scripting-docs), installing `tsd-jsdoc@2.0.0-beta.5` and running th

[2018-06-06 13:34] bennyn commented on #26
I wanted to specify the location where `types.d.ts` is written to. To me it looked liked that it will be always saved inside the location of the JSDoc output.

[2018-06-06 13:38] bennyn commented on #21
Sorry, I haven't tested with JSDoc 3.5.0. It has been a while. But Florian posted demo code [here](https://github.com/englercj/tsd-jsdoc/issues/21#issue-216142330) which could be used for a unit test in your library?

[2018-06-06 14:35] englercj commented on #26
It will be saved to whereever you specify using `--destination`. In your OP you specify `--destination ./doc`.

[2018-06-06 14:35] #26 closed

[2018-06-06 14:35] englercj commented on #44
Thanks for the bug report, I'll look into it as soon as I can.

[2018-06-22 15:12] bampakoa opened #46 "VSCode debug configuration"
Has anyone tried to debug with VSCode? I have setup a debug configuration through `launch.json` but it seems that `jsdoc` does not understand the `--inspect-brk` switch that is added from VSCode debuger.

[2018-07-03 14:08] Nols1000 commented on #18
@englercj This error occures in version `2.0.0-beta.5` again.

[2018-07-26 00:12] #44 closed

[2018-07-27 10:54] irgendwr commented on #44
@englercj Can you release a new version to make this usable?

[2018-07-27 17:08] englercj commented on #44
I will try to remember to do so when I get home tonight.

[2018-07-27 18:05] charlesbodman opened #47 "Dot notation property?"
Issue coming from
https://github.com/photonstorm/phaser/issues/3869

It looks like the tsd-jsdoc isn't handling dot notation properties.

Is this something in the works, or should we adjust the jsdocs to conform?

**Example**
GameConfig.js from Phaser

https://github.com/photonstorm/phaser/blob/master/src/boot/Config.js#L61

[code]

**Output**

https://github.com/photonstorm/phaser3-docs/blob/mast

[2018-07-27 20:44] englercj commented on #47
Are you sure this is an issue with tsd-jsdoc? As in, does this generate the expected jsdoc output?

I have a test of a typedef that include dot-notation for properties, and it works. What errors do you get when running tsd-jsdoc?

[2018-07-30 18:04] charlesbodman commented on #47
I'm not sure if it is an issue with tsd-jsdoc.
I just assumed that phaser is using tsd-jsdoc, but I'll do more testing to see if I can find the issue.

Iv updated my question above with line numbers.

[2018-08-14 07:56] Munter opened #48 "Problem on windows"
It seems that somewhere in either this reporter or jsdoc itself some path doesn't get resolved correctly on windows. The mix of forward and backwards slashes usually indicate a compatibility problem

[code]

[2018-08-14 17:25] englercj commented on #47
Can you create a minimal test case that reproduces this? Something I  can use in my test scripts rather than the entire phaser lib?

[2018-08-14 17:26] englercj commented on #46
Well that cmd line isn't correct. It should probably be `jsdoc.cmd --inspect-brk -t dist/publish.js -r`. Notice how the `-t` param is not next to the script name and the script it launches is `publish.js`.

[2018-08-16 07:00] bampakoa opened #49 "Support for @enum block tag"
I have noticed that `enum` block tag is not recognised by the library. How would one document an object such as the following?

[code]

[2018-08-17 04:58] bampakoa commented on #49
You are right @englercj . That is strange because last time I checked it, I got a message `Unknown kind enum` :thinking:

[2018-08-17 05:59] bampakoa commented on #49
@englercj Can I use it in conjunction with `exports` block tag since I need to reference it as an AMD module in another file?

[2018-08-17 20:10] englercj commented on #49
Different files don't matter, and I'm not sure where you got the error `Unknown kind enum` from.

That being said, you didn't tell jsdoc that `Intersect` is an enum. You defined it as an object with some constant numbers inside it. Then, you use it like an enum in the other place. You say you return an `Intersect` object, but actually return a number.

Here is an example of how to format jsdoc for

[2018-08-17 20:15] bampakoa commented on #49
Thanks for the explanation @englercj . I was suspicious about the use of `Intersect` in the second file, that it actually returns a `Number` :smiley:

[2018-08-17 20:15] #49 closed

[2018-08-27 14:30] bampakoa commented on #46
For anyone having the same issue, `--inspect-brk` is added from VSCode by default. You can define a custom port for the debugger using the option `port` and then `--inspect-brk` will not be added and the solution suggested by @englercj  can easily be implemented.

[2018-08-27 14:30] #46 closed

[2018-08-28 16:58] charlesbodman commented on #47
Yeah, I'll try to reproduce with a simple example.

**Side note.**
Looks like the solution has been solved by using separate typedefs.
https://github.com/photonstorm/phaser/pull/3916

[2018-09-13 09:08] ndry commented on #28
Reproduces on 2.0.0-beta.6 on the following JS:

[code]

[2018-09-25 09:13] yuriilychak opened #50 "Missing publish file."
After install from npm and trying to generate definition, have this problem.
[JSDOC] FATAL: Unable to load template: Cannot find module '.../node_modules/tsd-jsdoc/publish'

[2018-09-25 20:40] englercj commented on #50
Duplicate of #48

[2018-09-25 20:40] #50 closed

[2018-09-28 05:10] solominsn commented on #28
I encountered a similar problem in my code. The root cause of the problem is missing comment for A.x. JSDoc add "x" property and set type to null. I think in this case tsd-jsdoc should set type to "Any".

[2018-12-05 17:48] englercj commented on #48
I'm currently doing a rewrite to remove dts-dom, and will include a fix for this when I get there.

[2018-12-05 17:50] englercj commented on #28
I'm currently working on a rewrite which should clean this up.

[2018-12-05 17:51] englercj commented on #15
compiler rewrite should fix this.

[2018-12-05 17:51] englercj commented on #14
compiler rewrite should fix this.

[2018-12-10 05:18] englercj commented on #48
v2 is out now, and I decided to keep the files in `dist`. I've updated the README to reflect where to point to.

[2018-12-10 05:18] #48 closed

[2018-12-10 05:19] englercj commented on #47
I've tested this in the new v2 release and it seems to be working as expected. If you encounter another issue, let me know.

[2018-12-10 05:19] #47 closed

[2018-12-10 05:19] englercj commented on #42
v2 was just released and after the rewrite I used this namespace merging technique for classes that implement interfaces.

[2018-12-10 05:19] #42 closed

[2018-12-10 05:20] englercj commented on #31
v2 was just released and this seems to be working as expected now.

[2018-12-10 05:20] #31 closed

[2018-12-10 05:20] englercj commented on #28
v2 was just released and this seems to be working as expected now.

[2018-12-10 05:20] #28 closed

[2018-12-12 06:55] marcandrews opened #53 "@mixin and @mixes support"
First off, well done on v2. It is looking like a huge step forward from v1. 👏

I saw that `@mixin` is supported but are there plans to support `@mixes` as well.

I noticed from the source that `@mixin` is handled like an interface; would it be better if `@mixin` was handled like a type-def instead? This could make the handling of `@mixes` easier.

For example, the following code:
[code]
... would

[2018-12-12 17:19] englercj opened #54 "getter & setters do not generate correctly"
When a getter and a setter both exist the property is defined twice.

[2018-12-12 17:21] englercj opened #55 "...type generates incorrectly"
[code]

Will generate:

[code]

Which is invalid.

[2018-12-12 17:24] englercj commented on #53
I have been treating `@mixes` the same as `@implements`. But I don't think I actually did the work to have `@mixin` generate an interface.

For example:

[code]

Currently generates:

[code]

I like this because what you pass to `@mixes` can be a class, or interface, or typedef and it all continues to work.

I think the two pieces of work that are needed here are:

1. Add support for `@mixin` decl

[2018-12-12 21:40] marcandrews commented on #53
So `@mixin` is its own type, similar to a `@typedef`, and `@mixes` can only be used on other `@mixes`?

This seems to align with JSDoc documentation (http://usejsdoc.org/tags-mixes.html#overview):

So we will have:
[code]
... where `@mixin` and `@mixes` are handled similarly to `@typedef`.

~

Your example of extending classes could be achieved with the following:
[code]

What do you think?

[2018-12-19 21:30] rich-earth opened #56 "support for including original comments in d.ts file?"
I'm not seeing original jsdoc comments included generated d.ts files, would this be hard to implement?

Thanks
Rich

[2018-12-19 21:36] englercj commented on #56
From the v2 changelog:

I haven't seen how I can make the TS compiler output comments yet. If you know which compiler APIs to use, please let me know. The API is fairly new and completely undocumented, so I haven't found everything yet.

[2018-12-20 11:36] rich-earth commented on #56
Thanks. I haven't gone looking too deep but tested [this](https://github.com/otris/jsdoc-tsd) project which does manage to include the comments, but the defs generated are not as good.

Appears to use [dts-dom](https://www.npmjs.com/package/dts-dom) to create the definitions instead of typescript package,  don't know if that would be of use?

[2018-12-20 15:47] englercj commented on #56
v1 of this project used dts-dom. v2 uses the typescript compiler directly.

I need to find an API in the typescript compiler that allows me to build comment nodes in the AST.

[2018-12-22 16:36] #54 closed

[2018-12-22 17:05] #56 closed

[2018-12-24 11:01] ivanpopelyshev opened #57 "Pixi.js-v5"
Suppose you've cloned pixi.js, `dev` branch, and called tsd-jsdoc on `packages`. Don't call `npm run build` or you'll ruin it with unnecessary files. That's the output:

[code]

We have to specify external classes somewhere:

[code]

[2018-12-24 18:10] englercj commented on #57
Are you sure you are using the latest version? That error message doesn't even exist in v2.

[2018-12-25 00:19] englercj commented on #57
Closing this since he was on an earlier version.

[2018-12-25 00:19] #57 closed

[2019-01-09 17:14] englercj commented on #53
Hey @marcandrews, happy new year!

Have you had a chance to take a look at this?

[2019-01-27 22:37] tambien commented on #30
Thanks for the great library! Checking out this issue in jsdocs repo (jsdoc3/jsdoc#1017), it seems like there is a way to add multiple docs to a single statement by combining the end of one comment block with the beginning of the next.

i was able to get tsd-jsdoc to correctly document an overloaded function by doing something like this:

[code]

Could this combined syntax alleviate the need to in

[2019-01-27 23:01] englercj commented on #30
In my experience, no the variation tag is required. It is up to jsdoc to give us the right info, and I've always had to use `@variation` in the past, despite what that ticket says.

[2019-01-31 20:26] Jaid opened #61 ""declare module" may need quotes"
Thank you for all the work put into that great project, @englercj!
I currently develop [`jsdoc-tsd-webpack-plugin`](https://github.com/Jaid/jsdoc-tsd-webpack-plugin) which generates `tsd-jsdoc` output and [`better-docs`](https://github.com/SoftwareBrothers/better-docs) output through Webpack compilation.

[`array-to-object-keys`](https://github.com/Jaid/array-to-object-keys) is an example project

[2019-01-31 21:46] englercj commented on #61
I would probably be fine for us to just always quote module names. Right now it uses `createIdentifier`, but not all module names are valid identifiers so that should be updated.

Thanks for the bug report.

[2019-01-31 22:01] Jaid commented on #61
Yeah, I only included the filename screenshot to show that I can't just quote the identifier in `/** @module */`, because manually quoting the module has side effects on other JSDoc features like HTML filename generation.

Are you currently available and motivated for this task? If not, that's fine, I'll try to come up with a pull request then to do my part. I'm not very affiliated with TypeScript

[2019-01-31 23:39] englercj commented on #61
If you can do a PR that would be great, if not I will get around to it at some point but I only work on projects on the weekends :)

[2019-02-01 22:35] Jaid commented on #61
I got it done! :)

[2019-02-07 06:09] Jaid opened #64 "Output files are not recognized without exports"
Sorry if I'm understanding something wrong here. I'm still learning TypeScript (or rather exporting TypeScript definitions from a JavaScript project).

The generated `d.ts` files don't have any `export` statements. Your readme states that the JSDoc `@exports` annotation is not needed as everything is exported, but I'm not sure how the generated definitions are supposed to work without `export` sta

[2019-02-07 17:13] englercj commented on #64
It doesn't create a module, it creates ambient declarations. `export` is only valid within `declare module "name" {}` blocks.

Currently it is pretty difficult to annotate your jsdoc with the right things to generate the module declaration to work where it can be used with es6 imports like you are doing.

[2019-02-07 17:17] englercj commented on #64
Also, `@exports` doesn't map to es6 exports at all. It maps to changes in the naming jsdoc uses for commonjs style exports. JSDoc es6 support is fairly poor in terms of expressing semantics.

[2019-02-09 07:09] Jaid commented on #64
Thanks for your good explanation!

[jsdoc](https://github.com/jsdoc3/jsdoc) does not look like being in a development state that leads to major updates in the near future. (A recent [issue comment](https://github.com/jsdoc3/jsdoc/issues/1593#issuecomment-457795163) from the author looks good though)

### Workaround

My current solution is a hacky regex-powered function. Seems to work well, but doe

[2019-02-09 20:58] englercj commented on #64
I'm currently leaning towards marking anything within a "declare module" as export, and letting you use `@ignore`, etc to skip things.

Depends on what you mean, I definitely want to support ES6 but there is only so much that can be done on this side of jsdoc. I'm open to changes to work around jsdoc limitations though.

[2019-02-13 03:45] irgendwr commented on #61
Why did you end up quoting only invalid identifiers?

For me VS code **only** recognizes quoted module names (doesn't matter if valid or not).

[2019-02-13 04:20] englercj commented on #61
Turns out unquoted modules are actually just namespaces, so I need to quote them all. Will fix.

[2019-02-13 04:33] #61 closed

[2019-02-13 04:34] englercj commented on #61
Hopefully that fixes it up, got some other work I want to do and will do a release at some point.

[2019-02-13 14:04] irgendwr commented on #61
Thanks, looking forward to a release!  😃

We can finally use this again after I found at that the reason nothing worked was our use of `@mixin`.

[2019-02-21 19:43] irgendwr commented on #61
Hi @englercj, would it be possible to release a new version soon-isch?
I don't like pushing stuff but I've got a pull-request that depends on the last commit.

Thanks and have a great day 😃

[2019-02-22 17:20] englercj commented on #61
I had some water damage in my office that has prevented me from accessing my machine, and it has made me forget to do this. I will try to get on it from my chromebook sometime this weekend. Sorry!

[2019-02-26 09:18] oBusk commented on #64
@englercj

Do you have any example of this?

[2019-02-27 02:54] englercj commented on #64
@oBusk Modules for jsdoc are files (as in es2015 modules, or commonjs modules). Modules in Typescript are more like a combination of both es2015 modules and npm packages. JSDoc doesn't have anything to describe that except for `@memberof module:MyModule` which tells me it is in a module (or package) but not that it should be exported or not.

I *might* be able to piece together enough information

[2019-03-25 14:34] jochenonline opened #65 "Promise that resolves an object with a generic type parameter as array is unable to be resolved"
[code]
This works:
[code]
This works too:
[code]
This works too:
[code]
This does not work:
[code]
=> `[TSD-JSDoc] Unable to resolve generic type parameter, defaulting to any.`

[2019-03-25 20:24] ibbignerd opened #67 "Support for Arrow Functions"
Currently, arrow functions expressions are interpreted as `var`.

`export const myFunc = () => {}` turns into `declare var myFunc : any;` when it should resolve to `declare function myFunc (): void;`

[2019-03-29 17:43] arizonatribe opened #68 "Can @file be ignored?"
Hi again,
I was wondering if I could submit a PR to have `tsd-jsdoc` ignore `@file` JSDoc annotations? Of course there's nothing that those annotations should translate to in a Typescript definition, but I was hoping they could just be ignored.

Currently I have a lot of files that have JSDoc annotations like these at the top of the file:
[code]

I use those in a different JSDoc template (although

[2019-03-29 21:28] englercj commented on #68
Yeah it should be ignored, it is not currently only because I didn't think to add it in.

[2019-03-29 21:48] arizonatribe commented on #68
Okay cool. I'm adding that into this PR #69

Thanks again

[2019-03-30 03:25] #68 closed

[2019-04-11 15:58] #65 closed

[2019-05-01 18:43] arizonatribe opened #75 "Can the next version of this package be published to NPM?"
Would it be possible to get a new version of `tsd-jsdoc` published? Several of the changes/fixes that have been committed to the codebase since v2.1.3 was published to NPM would be really useful to have available to us.

Thanks!

[2019-05-04 16:56] englercj commented on #75
Was waiting to see if we could resolve #73 and #74 first.

[2019-05-04 17:09] englercj commented on #67
PRs welcome!

[2019-05-04 17:10] englercj commented on #75
Also now #76 is open and I'd like to get that in too.

[2019-05-04 17:53] arizonatribe commented on #75
Okay, just I've been waiting over a month for that patch to get published, and more stuff - completely unrelated in issue - seems to keep delaying it.

[2019-05-05 17:14] englercj commented on #75
If your need is urgent you can always use a git dependency. No need to wait for a publish if you need something.

[2019-05-05 17:50] arizonatribe commented on #75
Sure, I suppose, but one of the main advantages [semantic versioning](https://semver.org/) is not having to bundle dozens of little patches into one (infrequent) large release. You can save large releases for major changes and continue to publish small patches or minor (non-breaking) feature additions more frequently.

[2019-05-07 11:43] imcuttle opened #77 "Bug: Duplicated generating text from @module"
### Input

[code]

### Output
[code]

[2019-05-07 11:47] imcuttle opened #78 "Has plan for supporting ES Module?"
Hi, tsd-jsdoc is cool!
It throws `[TSD-JSDoc] Failed to find parent of doclet 'module.exports' using memberof 'module', this is likely due to invalid JSDoc.` when I use ES Module like `export default`.

[2019-05-07 16:35] englercj commented on #78
Yeah this is an issue with jsdoc's parsing of ES6 modules. It doesn't do great job of it. The workarounds are to use named exports or to name your thing and export it as default later:

[code]

[2019-05-07 16:42] englercj commented on #77
Haven't seen this before, will take a look when I have some time. If you have time to debug and put in a PR that would be really helpful.

[2019-05-13 07:59] #78 closed

[2019-05-18 19:39] englercj commented on #75
v2.2.0 has been published.

[2019-05-18 19:39] #75 closed

[2019-06-06 15:02] voxpelli opened #81 "Is imported types supported?"
Is code like this supported?

[code]

[2019-06-06 16:32] englercj commented on #81
No I don't think this is supported.

[2019-06-27 13:44] j4m3sb0mb opened #82 "private tag on class"
I'm getting this error when I tag a class with `/** @private */` tag also with private: false in config file:
`[TSD-JSDoc] Failed to find parent of doclet 'classname#methodname' using memberof 'classname', this is likely due to invalid JSDoc.`

[2019-06-27 21:09] 73rhodes opened #83 "re-exported modules"
I apologize if this has already been covered or has an obvious fix, but I haven't been able to find a solution. I'm using tsd-jsdoc to generate a types.d.ts file for a node library / npm module. There's a top-level module that's the main entry point and it rexports things that are defined in sub modules. Here's a contrived example:

/** @module mytest */
import * as utils from "./lib/utils";
expor

[2019-06-28 13:54] englercj commented on #82
Seems like something is being marked as a member of that private class, but when you mark something private and have `private: false` that class is totally hidden from the definitions we see. There is no difference between using a type marked private and using a type you never even defined.

The error is telling you it can't output the proper typings for something because it doesn't know what type

[2019-06-28 13:55] englercj commented on #83
I honestly don't know why it works the way it does. I always have to inspect the parsed data from jsdoc to understand what is going on because it is often not straightfoward.

[2019-07-04 16:48] Graham42 opened #84 "Consider using prettier?"
Using an autoformatter would save you time and effort in reviewing PRs, because wouldn't have to worry about manual code style review. [Prettier](https://prettier.io/) is an awesome autoformatter that I highly recommend.

If you'd be open to this, I can open a PR.

[2019-07-04 17:12] englercj commented on #84
I've never gotten an auto formatter to actually represent the style I want. It usually just gets close. I also don't spend much time on style comments in PRs anyway so you'll probably spend longer enabling this than I do commenting on PRs.

That being said I don't have strong feelings about this at all, if you want to give it a shot its all you. But I probably won't merge it if it changes the exis

[2019-07-04 17:40] Graham42 commented on #84
I've done it for several of my own projects so don't mind taking a stab at it.

I can see that it might not format somethings exactly the way someone prefers. For me, I've been using this for over a year now and the peace of mind of not having to worry about formatting ever again makes up for any preference of mine. I've come to not care how code is formatted so much, as long as it's autoformatted

[2019-07-04 20:43] lemnis opened #86 "`@template` doesn't work with JSDoc 3.6"
Input:

[code]

Result:
[code]

Expected:
[code]

I don't know if other tags stopped working...

[2019-07-05 16:02] englercj commented on #86
I haven't actually tried jsdoc 3.6 yet, but looks like they added support for closure compiler tags which means they won't show up in the "unknown tags" section anymore.

[2019-07-05 16:57] #84 closed

[2019-07-05 17:31] 73rhodes commented on #83
Sub-modules seemed to be visible within the top-level module before this and the problem seemed to crop up recently. I think I've narrowed it down: the difference happens somewhere between tsd-jsdoc@2.1.3 and tsd-jsdoc@2.3.0... the newer version of tsd-jsdoc puts double-quotes around the module name.

For example,

[code]

Using tsd-jsdoc@2.1.3 produces

[code]

Using tsd-jsdoc@2.3.0 produces

[co

[2019-07-05 21:14] englercj commented on #83
We absolutely want to quote modules in tsd-jsdoc because otherwise there is no way to declare a module, something that is required in many places tsd-jsdoc is used. AFAIK the quoted module interpretation aligns with both the ES2015 and JSDoc concept of what "module" means.

quoted modules are "requireable" in typescript, a behavior that is really important for generating typings that match what a

[2019-07-06 16:24] Siedlerchr opened #87 "ReferenceError: parent is not defined"
Hi,

I was experimenting to generate typing for the the module: https://github.com/Viglino/ol-ext
when it suddenly stopped with an error:

[code]

[2019-07-07 15:08] englercj commented on #87
What version are you using? That code looks out of date.

[2019-07-07 15:41] Siedlerchr commented on #87
I'm using the latest npm version
"tsd-jsdoc": "^2.3.0",

The error appears if I run it from commandline or add it to the existing jsdoc and run the gulp doc task.

[code]

[2019-07-07 22:41] englercj commented on #87
Ah sorry I forgot the code is transpiled. I see the issue now.

[2019-07-07 22:44] #87 closed

[2019-07-07 22:46] englercj commented on #87
Should be fixed in v2.3.1

[2019-07-08 14:05] 73rhodes commented on #83
For the time being I've documented my submodules with `/** @namespace foo */` and added the `/** @memberof foo */` annotation to anything they export.  However, re-exporting modules is such a common recommended practice that supporting it in some way would be very helpful. I'd like to e able to properly annotate submodules with the `/** @module */` directive, avoid needing to tag every exported pr

[2019-07-09 20:05] Siedlerchr opened #88 "Colon after function name produces invalid output, should be removed"
Hi,

as I am currently trying to generate type definitions, I encountered the issue that when the parameter is followed by a colon, the colon is also output in the ts file.
Example, notice the colon after `option.onclose`

This produces invalid typescript it results in `nclose: `

`         *  @param {function|undefined} options.onclose: callback function when popup is closed`

[code]

[2019-07-10 05:29] englercj commented on #88
We use the name jsdoc gives us, with the colon there jsdoc thinks the name of the param is `onclose:`. I don't think we should massage the name of params in this library if we can avoid it.

[2019-07-11 12:51] greggman opened #89 "wrong types - model:typename turned into just module"
I have jsdocs that look like

[code]
    function createFramebufferInfo(gl: WebGLRenderingContext, attachments?: module:twgl.AttachmentOptions[], width?: number, height?: number): module:twgl.FramebufferInfo;
[code]
    function createFramebufferInfo(gl: WebGLRenderingContext, attachments?: module[], width?: number, height?: number): module;
[code]

[2019-07-12 15:39] englercj commented on #89
I don't think that is valid Typescript, is it? I definitely get errors on the playground trying to use it.

I agree the new one is incorrect as well. Assuming `twgl` is a module you have somewhere else in code I'd expect the output to just be `twgl.FramebufferInfo`. PR welcome!

[2019-07-12 15:41] greggman commented on #89
Yea, I agree the old output was wrong but I had some post process to fix it. Now the output is unusable though.

[2019-07-12 15:44] greggman commented on #89
Well look into PR if someone doesn't beat me to it. For now just moved my deps back to 2.1.2

[2019-08-08 08:32] SmartFoxServer opened #90 "“declare class” vs “export class”"
_First of all let me state that I'm new to .d.ts generation, so I could be making wrong assumptions. In such case, please help me better understand the topic._

I need to generate the d.ts file for a UMD library I developed and bundled with Webpack.
JSDoc + tsd-jsdoc does the job, but when I test the output file in Visual Studio Code, IntelliSense is not working at all.

I compared the output file

[2019-08-10 00:54] englercj commented on #90
You're not doing anything wrong, we just always use declare currently for top-level declarations. You can see more details in #64. I'm open to PRs.

[2019-08-13 14:34] SmartFoxServer commented on #90
Thanks.
Any ideas about the html tags issue?

[2019-08-15 17:14] englercj commented on #90
We output the jsdoc comment exactly as it is given to us from jsdoc. If you have html tags in there, they will exist in the output.

[2019-08-28 08:34] samparsky commented on #86
@englercj how much work is required to support jsdoc 3.6.x?

[2019-08-30 06:25] samparsky opened #96 "default exports not working"
For example the below code does not work
[code]
It generates the below type description which does not include the default export

[code]
It's missing the defaut export

[2019-08-31 16:31] englercj commented on #86
No idea, haven't looked. Feel free to give it a shot and submit a PR.

[2019-09-02 20:20] Alexis-ROYER opened #99 "Wrong handling of 'undocumented' attributes with jsdoc 3.6.x"
As noticed by [jsdoc#1672](https://github.com/jsdoc/jsdoc/issues/1672), jsdoc 3.6.x output differs from 3.5.x, especially on `undocumented` attributes strangely set to `true` while the `comment` attribute is correctly set with some user comment.

The effect for tsd-jsdoc is that such doclets are not managed anymore.

Steps to reproduce :
- checkout tsd-jsdoc, run `npm install` but then force the i

[2019-09-02 20:27] Alexis-ROYER opened #100 "Generation strategy : what is documented vs what is actually exported"
While working on [PR#98](https://github.com/englercj/tsd-jsdoc/pull/98) for 'export default' support, I wondered what would be the best strategy:
- generate declarations for everything documented with jsdoc in the input source code?
- or generate declarations from what is actually exported by the module?

My feeling is that it would be better to have tsd-jsdoc be based on what is exported:
- it wo

[2019-09-02 23:01] englercj commented on #100
I'd also prefer that, in previous versions of jsdoc it hasn't been very good at getting "what is exported" correct.

We'd also need to extrapolate from what is exported, other things that should be exported.

For example, consider a function that takes an interface as an arg. The function will be marked as exported, but the interface likely won't be. In the TS definitions, both should be exported.

[2019-09-03 06:28] Alexis-ROYER commented on #100
Sure, I'll try to implement such a backward walk from exports.

Actually, assuming this strategy could help with the handling of `exports = module.exports = myExport` patterns for [issue#96](https://github.com/englercj/tsd-jsdoc/issues/96), so I may give it a try in [PR#98](https://github.com/englercj/tsd-jsdoc/pull/98).

[2019-09-03 15:47] englercj commented on #99
Yeah there are a bunch of backwards incompatible changes to jsdoc 3.6. I really wish they had done a major release.

I think in this lib we need to update to work with 3.6, and change how we determine exports (a la #100), then do a major release on our side.

[2019-09-04 10:54] zachasme opened #101 "Tests failing"
This library is generating types for Ubers `h3-js` bindings which I depend on. But the generated types for generics are looking strange.

 * `T[]` becomes `[ 'Array' ]<T>`
 * `Array<T>` becomes `[ 'Array' ]<T>`
 * `Promise<T>` becomes `[ 'Promise' ]<T>`

Tests in this repo are failing on a fresh clone as well.

I've tried figuring out if it was a recent commit or a backwards-incompatible dependenc

[2019-09-04 15:33] englercj commented on #101
Haven't taken a close look but local tests are failing for me too, though CI passed for the latest commit which is strange.

@aidinabedi are you seeing the failures as well? Does this seem related to your recent changes?

[2019-09-04 16:28] aidinabedi commented on #101
Haven't seen any of these behaviors. In fact, we use both `Array<T>` and `T[]` successfully in our project. @zachasme Could you provide a minimal test case that reproduces the issue?

[2019-09-04 18:07] englercj commented on #101
Running `npm test` fails locally for me. Can you try running `npm i` to make sure you match the latest lock and run tests again?

[2019-09-05 08:48] aidinabedi commented on #101
Very weird. I just made two fresh clones (one of this repo and other of my fork), all tests pass in both.

What test fails for you, @englercj?
What platform are you running?

My platform:
Windows 10
Node 8.12.0
NPM 6.4.1

[2019-09-05 10:00] zachasme commented on #101
Installing using `npm i` with the latest lock results in tests throwing `ENOENT: no such file or directory, open '/home/zach/dev/forks/tsd-jsdoc/test/_temp/types.d.ts'` for every test (even after manually running `npm run build`).

Installing using `yarn` or `npm i` after deleting `package-lock.json` results in the `[ 'Array' ]<T>` typings.

Platform: Arch Linux, Node `v12.10.0`, NPM `v6.11.3`

[2019-09-05 11:24] aidinabedi commented on #101
[code]

[2019-09-05 12:57] zachasme commented on #101
I'm following the exact same steps. I tried it on Windows as well - same problem.

*However* I also tried downgrading node to `v10.16.3` after which all the tests pass!

[2019-09-05 14:04] aidinabedi commented on #101
I'm running node `10.11.0` at work and all the tests pass.

Probably the behavior of some node API that has changed between v`10`-`12`.

[2019-09-06 02:52] englercj commented on #101
I am using node v12, so seems like it is related to the node version. I wonder if this issue is on the jsdoc side or ours.

[2019-09-06 07:26] aidinabedi commented on #101
Was thinking the same thing. Seems most plausible.

[2019-09-06 23:45] englercj opened #102 "Experiment with using TS Compiler instead of jsdoc"
I should try using the typescript compiler to parse the JS and generate definitions rather than using jsdoc directly. We've encountered a number of bugs related to how jsdoc parses JS and it not keeping up with JS features. Maybe we can get better results by using TS only and dropping jsdoc.

If anyone has thoughts, please share them.

[2019-09-07 00:06] Alexis-ROYER commented on #99
I've just committed a sample of code to fix this problem.
See changes on [publish.ts](https://github.com/englercj/tsd-jsdoc/pull/98/commits/82e01e4410c2187c46aceedc8c233b426c550f8e#diff-d9a60851031c31a6d1f30fd69b639407) in [PR#98](https://github.com/englercj/tsd-jsdoc/pull/98).

[2019-09-11 10:11] zachasme commented on #101
Directly printing the data that jsdoc parsed using (in `publish.ts`)
[code]
already contains the problematic typename
[code]
so I'll wager the issue is on the jsdoc side.

[2019-09-11 11:28] zachasme commented on #101
It seems to have been fixed in `jsdoc-api@latest`. However there are changes to at least `@template` handling. Would you accept a PR upgrading dependencies and fixing tests?

[2019-09-12 01:00] englercj commented on #101
Absolutely.

[2019-09-15 15:50] #101 closed

[2019-09-18 12:14] Alexis-ROYER opened #104 "What support for `@override` tags?"
I'm opening this issue in order to clarify what should be the appropriate behavior for `@override` tags.

As I'm working on making the tests pass on [PR#98](https://github.com/englercj/tsd-jsdoc/pull/98), I'm a bit confused with the output for the `MyThing.copy()` override in `test/fixtures/class_all.js` (see my commit [be91778](https://github.com/englercj/tsd-jsdoc/pull/98/commits/be917786fab3901

[2019-09-18 14:47] englercj commented on #104
`@override` is listed in the readme as an unsupported tag because there is no way we can declare a function of the same name, but different signature in a derived class in typescript currently.

As such (IIRC, because it was years ago) I was just skipping over anything that was inherited to try and generate valid TS. It wasn't that I was preferring the base class one, so much as I just couldn't de

[2019-09-18 20:54] Alexis-ROYER commented on #104
Thank you very much for the clarification @englercj.

Then could we remove the `@override` tag from the `test/fixtures/class_all.js` test and align the signatures of the `copy()` methods in order to stay on the test case we actually support?

[2019-09-19 02:23] englercj commented on #104
I'd like to have some test for the behavior of `@override` specifically to find where it breaks this lib.

While we can't support the actual meaning of `@override`, it would be nice if it behaved in a well-defined way.

[2019-09-19 06:17] Alexis-ROYER commented on #104
Shall we say that, as long as TS does not support different signatures of overriding methods, the tsd-jsdoc should *not* generate types for overriding methods, whether these overriding methods have a different signature or not from the overridden ones?
In addition, we could display a warning when a `@override` tag is encountered.
Let me know.

[2019-09-19 14:47] englercj commented on #104
Yes I think that is what the previous behavior was. If you inherit a method of the same name as one you have defined, we drop the child one.

I don't feel strongly about the override warning, I'm OK either way.

[2019-09-20 07:31] Alexis-ROYER commented on #104
Thank you very much, that will help me for [PR#98](https://github.com/englercj/tsd-jsdoc/pull/98).

[2019-09-23 01:35] DavidWells commented on #64
Thanks for this library! Helps a ton with my project

I ran into this same issue. I'm doing something similar to @Jaid and changing the final output to export the correct declarations.

- script https://github.com/DavidWells/analytics/blob/master/packages/analytics-core/package.json#L31
- and adding exports at bottom of `.d.ts` file https://github.com/DavidWells/analytics/blob/master/packages/anal

[2019-10-03 11:25] Alexis-ROYER commented on #104
Fix proposal in [PR#98](https://github.com/englercj/tsd-jsdoc/pull/98) with commit [8b205c65](https://github.com/englercj/tsd-jsdoc/pull/98/commits/8b205c6579aa79d09bace3d8f26c10cb89cf28bb).

[2019-11-18 09:16] willeastcott opened #105 "Error message for private subclass of public superclass"
The following JavaScript:

[code]

...generates this message:

[code]

This bug is currently afflicting the [PlayCanvas engine](https://github.com/playcanvas/engine). See [forum post](https://forum.playcanvas.com/t/engine-typescript-bidings/11366).

[2019-11-20 19:09] jeffersoneagley commented on #81
There seems to be a bit of chatter going on about type imports in JSDoc, but no solid canonical path at the moment unfortunately.

https://github.com/jsdoc/jsdoc/issues/1537
https://github.com/Microsoft/TypeScript/issues/22160

[2019-11-25 17:18] benjaminhowarth1 opened #106 "Feature request: support for @external"
TSD-JSDoc currently doesn't support `@external`, which is causing issues with me adding Typescript definitions for SVGEdit.

PR will be incoming shortly, as external objects are simply inherent classes & can therefore be executed as a class element currently is.

[2019-12-01 17:16] englercj commented on #105
I think this is because the `move` function is not marked private by jsdoc so we try to document it. When we try to lookup where it belongs we fail to find the `Dog` class because it is private.

The implementation should probably still track private objects so we can tell the difference between an unknown symbol and an existing, but private, symbol. In the later case we can skip the move/bark fun

[2019-12-28 18:53] Mogztter opened #108 "Make the generated file compliant with dtslint"
Here's a simple example:

[code]
And here's the generated file:

**types.d.ts**
[code]

Using [dtslint](https://github.com/microsoft/dtslint):

[code]

As you can see we should do the following:

- [ ] Remove redundant jsdoc tags `@class`, `@namespace`...
- [ ] Remove type annotation `{string}`
- [ ] Trim lines

And here's the expected result:

**types.d.ts**
[code]

[2019-12-31 15:48] englercj commented on #108
To do this we'd have to parse the jsdoc strings or generate our own based on the data we output. Both of which seem like a lot of work just to appease a style linter. I don't think this is worth it.

Also some of these seem like opinions. For example, I want all my files to end in a blank line.

[2020-01-02 13:02] Mogztter commented on #108
I believe that we can generate the comment from the `Doclet` object right?
With the following example:
[code]

I will get the following (simplified) `Doclet` objects:

[code]
[code]

Here's an implementation (using template literals):

[code]

Indeed, the official linter is opinionated.

I don't mind removing a final blank line in a post task.
Arguably, I could also remove the extra JSDoc annotati

[2020-01-02 15:23] englercj commented on #108
If jsdoc gives us what we need I'm open to a PR that changes the coments to pass linting.

[2020-01-02 20:38] Mogztter opened #109 "Support @this on function"
I believe that the following code:
[code]

should generate the following type definition:

[code]

Currently it generates:

[code]

[2020-01-02 20:38] Mogztter commented on #108
Ok I'm working on it :+1:

[2020-01-02 20:49] englercj commented on #109
👍 Totally. I think that setting the type of `this` didn't exist in Typescript (or even jsdoc) at the time I originally wrote this.

[2020-01-02 21:58] Mogztter opened #111 "Enum comment on properties should be preserved"
Consider the following code:

[code]

Currently the generated type definition is:

[code]

I think we should preserve comments on properties:
[code]

[2020-01-02 23:39] englercj commented on #111
👍

[2020-01-04 16:50] #109 closed

[2020-01-05 17:33] #108 closed

[2020-01-06 15:20] yin opened #113 "Add source location to error output"
It would be rather useful if the error messages actually pointed to the source file, line, and column where the problematic JSDoc appeared.

[code]

[2020-01-07 02:56] #113 closed

[2020-01-17 12:44] TheJonRobinson opened #117 "Number[] export is not consistent with plain Number"
For me tsd works great except for what seems like an inconsistency dealing with Number[]?

Simple test file:
[code]

Output:
[code]

`Number` becomes a plain `number` but `Number[]` remains `Number[]`. This results in Typescript (correctly) grumbling:

I'm using tsd on a 3rd party project (i.e. not trivial to alter the source), and this does seem inconsistent behaviour.

[2020-01-17 15:41] englercj commented on #117
Looks like a bug, thanks for bringing it up!

[2020-01-17 15:44] englercj commented on #88
Closing this as it is a jsdoc issue.

[2020-01-17 15:44] #88 closed

[2020-04-05 18:36] aidinabedi opened #118 "Missing support for properties of values in an array"
Currently, `tsd-jsdoc` can't handle documenting properties of values in an array, [such as the following example in jsdoc's own documentation](https://jsdoc.app/tags-param.html#parameters-with-properties):
[code]
Instead of `{ name:  string; department: string; }[]`, the parameter type results in just `object[]`, which is incorrect.

[2020-04-05 19:35] aidinabedi opened #120 "Add support for custom typescript output"
It's quite often that we need a way to include custom TypeScript code together with the generated definitions file. We propose adding support for a custom tag (let's call it `@customtsd`) so that the following input:
[code]
Can result in the following output:
[code]

[2020-04-05 22:27] #118 closed

[2020-04-05 22:30] #111 closed

[2020-04-06 21:14] aidinabedi opened #125 "Derived class should't re-define inherited members"
Currently, if a class extends another, all base members will be re-defined in the extended class. So the following JS code:
[code]
Will result in the following typescript code
[code]
Althought this might seem fine, it can actually causes issues in multiple cases. Such as if the derived class is private, because then `tsd-jsdoc` tries to re-define **public** base members in a **private** derived cl

[2020-04-07 21:28] #125 closed

[2020-04-08 08:47] aidinabedi commented on #120
Proposed workaround:

[code]

[2020-04-08 08:47] #120 closed

[2020-04-08 08:58] aidinabedi opened #127 "New release please? :)"
Hello @englercj,

Would be great to officially ship the 10 new improvements (that have been merged into `tsd-jsdoc`).

Cheers,
Aidin

[2020-04-09 00:52] englercj commented on #127
2.5.0 is released.

[2020-04-09 00:52] #127 closed

[2020-04-13 19:34] aidinabedi commented on #105
This issue is fixed now by merged PR #126 in latest release

[2020-04-13 19:55] aidinabedi opened #129 "ESLint for jsdoc doesn't recognize type `Class<T>` but does support `typeof T`"
Projects that use ESLint to validate JSDoc have issues using the special `Class<T>` syntax (supported by `tsd-jsdoc`), because it fails the built-in `jsdoc/no-undefined-types` rule check. Resulting in ESLint complaining:
[code]

However using `typeof T` instead is considered valid jsdoc by ESLint and will not fail, since it is [supported by the Closure Compiler](https://github.com/google/closure-c

[2020-04-22 18:29] #129 closed

[2020-05-01 21:43] arinthros commented on #77
I ran into this issue today where I have the same function name exported in different modules. If there was a duplicate function name, the template would re-write the first definition a second time.

The solution for me was to add explicit module tags in those files to prevent duplicates from being generated. `/** @module "@package/path/to/module" */`
The quotes part brought up a second issue whic

[2020-05-01 22:09] arinthros opened #130 "@module name quotation marks included in declare module string"
https://github.com/englercj/tsd-jsdoc/blob/fe18a8861e93fd2969ac65ee1487d6e430948aa1/src/create_helpers.ts#L512
I think this is the line that has the issue. Prior to creating the literal string, it should filter out the wrapping `"` and/or `'` characters.

Issue: When wrapping @module names in quotes to allow special characters, the quotes are being escaped rather than stripped out.

`/** @module "

[2020-05-05 15:48] #130 closed

[2020-05-14 22:14] mramato opened #132 "Class specific callbacks"
JSDoc defines class-specific callbacks as part of the standard callback convention: https://jsdoc.app/tags-callback.html

They do not appear to work in tsd-jsdoc because it just passes through the `~` character as part of the TS declaration name.  As these are meta types, it shouldn't be too hard to support them.

A naive approach would just be to remove ~ from any identifier when it is encountere

[2020-05-15 13:28] mramato commented on #132
Actually, looking at this with fresh eyes, it appears that class specific callbacks are supported!  It's only the`~` notation that is not handled. I'm going to try switching my code base completely from `~` notation to `.` and see what happens.

[2020-05-15 14:24] mramato commented on #132
Switch to dot notation worked, and is an acceptable answer for my case (though working with ~ would be nice). So I'm closing this.  Thanks for an awesome tool!

[2020-05-19 00:55] mramato opened #133 "Incorrect warning: Failed to find parent of doclet"
Given SomeClass.js

[code]

tsd-jsdoc outputs the below, incorrect, warnings:

[code]

tsd-jsdoc should pick up on the fact that `SomeClass` is marked private and not print warnings for `someFunction` or `somePrototypeFunction` because they are automatically made private as well (according to JSDoc).  JSDoc has no issues with this file.

I was able to hack up the JS to fix for this in my local tsd

[2020-05-19 21:59] englercj commented on #133
This looks like a dupe of #105 which should be fixed in the latest version, can you confirm?

[2020-05-19 22:24] mramato commented on #133
@englercj I can confirm that it happens with 2.5.0 (installed via npm).  Also, I was using jsdoc 3.6.4 (latest version via npm) in case that matters.

I put together a reduced test case that you can run to see the problem: [issue133.zip](https://github.com/englercj/tsd-jsdoc/files/4653567/issue133.zip)  (Just `npm install` and then `npm start`

Basically it includes SomeClass.js, a simplified pack

[2020-05-27 03:02] mramato commented on #133
@englercj if there's anything I can do to help out here, please let me know. I suppose I can just pull down master and open a PR, but wanted to make sure you would be willing to review/accept it first.

FYI we just opened our Cesium pull request which uses tsd-jsdoc https://github.com/CesiumGS/cesium/pull/8878 and you'll be happy to hear that everything else worked great.  I'm not sure how big the

[2020-05-28 11:19] thw0rted commented on #81
It looks like this is the TS team's official solution to this problem, but the JSDoc folks show no signs of implementing it on their end.  Does it make sense for `tsd-jsdoc` to support this or do you have to wait for official JSDoc support?  Supporting doc-import would allow workaround for all sorts of other unsupported constructs, by moving the type definition out of JS completely.  (See [this ex

[2020-05-28 11:44] thw0rted commented on #105
It looks like #126 did not fix this; at the very least, there should be a test case for this specific problem (`@private` class, with a `@memberof` tag on a prototype function) and the tests added for that PR definitely do not include one.

[2020-05-29 10:31] thw0rted opened #134 "`@template` tag does not generate generic parameters"
I'm trying to document generics and while the tags are correctly interpreted by Typescript directly, `tsd-jsdoc` is not applying type parameters in its output.

I put together a [simple repro](https://github.com/thw0rted/issue-examples/tree/tsd-jsdoc-templates) and nothing I do there is able to get the output to include type parameters in the declaration.

----

Once this is worked out, I also wan

[2020-05-29 13:19] glen-84 commented on #132
@mramato,

I'm affected by this as well, would you consider reopening this issue, or should I create a new one?

[2020-05-29 13:32] glen-84 commented on #102
This might be one issue to keep in mind: https://github.com/microsoft/TypeScript/issues/25590

i.e. There is no support for the [JSDoc overload syntax](https://github.com/microsoft/TypeScript/issues/25590#issuecomment-515240755).

[2020-05-29 13:51] mramato commented on #132
@glen-84 Is modifying your callbacks to use `.` instead of `~` an option?

Technically this is a bug either way, so I suppose I'll re-open it, but I don't know if it will be addressed anytime soon. I would still like to dig into the code a little and see if it's an easy fix.

[2020-05-29 14:01] glen-84 commented on #132
I was trying to add type definitions to a project that I'm not the owner of ([xlsx-populate](https://github.com/dtjohnson/xlsx-populate/)). In theory I could probably change the syntax used or do a regex-replace on the generated definitions, but since this is supported JSDoc syntax, it would be better if it was supported without having to make any changes.

However, I've just run into another issu

[2020-05-29 14:27] glen-84 commented on #64
@englercj,

When using the TypeScript compiler to generate definitions, the following:

[code]

Results in:

[code]

Is it not possible for this library to do the same?

(I'm unable to use the TS compiler because of the issues mentioned [here](https://github.com/dtjohnson/xlsx-populate/issues/88#issuecomment-634259169).)

[2020-05-29 20:24] englercj commented on #133
PRs are the best way to get changes to this repo. I don't spend much time on it these days.

[2020-05-29 20:27] englercj commented on #134
There is an example in the tests that successfully generate a class with a generic template: https://github.com/englercj/tsd-jsdoc/blob/d75937645ed7eb7f162652594cd27913e7bcba95/test/fixtures/namespace_all.js#L7-L15

[2020-05-29 20:28] englercj commented on #102
There are more issues with jsdoc not supporting TS features than the other way around I'm finding. Not to mention the vscode TS service already parses jsdoc to generate intellisense, so generating a file shouldn't be too hard.

[2020-05-29 20:29] englercj commented on #132
PRs welcome.

[2020-05-29 20:40] glen-84 commented on #102
Unless I'm misunderstanding you, this is already possible and quite easy actually (see an example [here](https://github.com/dtjohnson/xlsx-populate/issues/88#issuecomment-634259169)).

Unfortunately I ran into 2 blocking issues (noted at the end of the above-mentioned comment).

[2020-05-30 20:24] englercj commented on #102
I just meant using typescript to parse the jsdoc comments instead of using jsdoc to parse the jsdoc comments.

[2020-05-31 12:27] thw0rted commented on #134
Welp, it's right there on the front page 😳

Adding `"plugins": [ "./node_modules/tsd-jsdoc/dist/plugin" ],` to my `ts-conf.json` immediately resolved the issue.  I'm sorry I missed that, and thanks for pointing me in the right direction, @englercj .

Should I open a second issue about supporting type parameter bounds and default values?  Currently, whatever follows `@template` is shoved into the t

[2020-05-31 12:27] #134 closed

[2020-06-03 08:44] thw0rted opened #136 "Possible to mark typedef / interface properties as readonly?"
This is valid Typescript:

[code]

I know JSDoc has a `@readonly` tag but I can't find any examples of applying it to individual properties on a `@typedef` or `@interface`, or sub-properties of an object using dot notation (`{string} options.bar`).

If this isn't already possible with JSDoc, should I ask on their tracker instead?

[2020-06-03 13:57] englercj commented on #136
If there is a jsdoc syntax we don't support I'd open an issue here. If you're asking what the jsdoc syntax is, then I'm not sure. Opening an issue there might help.

[2020-06-03 14:35] thw0rted commented on #136
I opened https://github.com/jsdoc/jsdoc/issues/1793, we'll see what they say.

[2020-06-05 16:27] mramato opened #137 "Using the word typeof in a doc comment breaks tsd-jsdoc output"
As discussed in https://github.com/englercj/tsd-jsdoc/pull/128#issuecomment-638505509.

#128 breaks code that includes the word `typeof` in a JSDoc comment without being the intended Closure feature, tsd-jsdoc outputs an error and fails.

Code like this:

[code]

Causes this output:

[code]

And then the entire process exits with a return code of 1.

The regex or approach to the feature needs to b

[2020-06-08 11:51] thw0rted commented on #132
As a JSDoc yellow-belt, I don't really understand.  Is there a difference in meaning between `.` vs `~`, such that one is "correct" here and the other isn't?  Or are they really synonymous?

[2020-06-08 12:17] thw0rted opened #138 "Syntax to get `this: this` into typings for function?"
I'm trying to wind up with the following Typescript

[code]

My first impulse was

[code]

but that gives me `Event<(this: Base, arg: number) => void>`, which means that this won't work:

[code]

I tried values of the `@this` tag like "this" or "Base.this". The former makes bad typings, because the callback is defined in a merged `namespace Base`, so `this` doesn't exist there.  The latter isn't v

[2020-06-08 12:28] thw0rted commented on #138
Update: I tried the [Closure syntax](https://github.com/google/closure-compiler/wiki/Types-in-the-Closure-Type-System#the-javascript-type-language) for this-type.  `@type {Event<function(this:this)>}` doesn't choke JSDoc, at least.  The bad news is that this emits in `tsd-jsdoc` as `Event<(arg0: this, arg1: this) => void>`.  It looks like the `:` is being treated as a `,` or something?

Closure al

[2020-06-13 03:17] englercj commented on #138
~~Have you tried [`@this`](https://jsdoc.app/tags-this.html)~~

Sorry missed the second half of your post. Looks like we should just add support to our `@this` handling for the syntax `@this this`. PRs welcome.

[2020-06-13 03:21] englercj commented on #81
This is another example of why I think we should do #102

[2020-06-20 16:58] Zekfad opened #139 "feature request: output filename"
Consider adding output filename setting.
For example you can look at `jsdoc-tsd` solution:

https://github.com/otris/jsdoc-tsd/blob/480ae2ee77fadb023f446c648ee6b933ecd65432/src/core/publish.ts#L34-L42

[2020-06-21 08:17] glen-84 commented on #132
According to [this](https://jsdoc.app/about-namepaths.html):

* `#` is used for instance members.
* `.` is used for static members.
* `~` is used for inner members.

[2020-06-22 07:42] thw0rted commented on #132
Sounds like "namepath" is the magic word I was missing.  Thanks!

Does this mean that Matt's original documentation was technically using it wrong? I think he was documenting the public API, so not actually talking about "inner members" (sorta-kinda analogous to class private functions, but not really).

For that matter, when is "inner member" syntax actually useful at all?  The docs you linked sa

[2020-06-26 17:36] glen-84 commented on #132
He was documenting [class-specific callbacks](https://jsdoc.app/tags-callback.html#examples), as far as I know, which do use the tilde syntax.

That is answered on the same page:

[2020-06-29 16:27] thw0rted commented on #132
That seems like an oversight in the JSDoc docs. On the `@callback` page they use `~` as the namepath connector, but on the "About Namepaths" page they do not mention callbacks at all.  You could argue that a callback is somehow an "inner member" of a class but really it's just an "idea" associated with the class, closest to an `@interface`.  Of course, those [also use tilde-namepaths](https://jsdo

[2020-07-23 11:05] yaustar opened #141 "How to generate with a ES5 JS file that is dependent on another library?"
I'm trying to generate ts definitions for the following library: https://github.com/playcanvas/playcanvas-tween

It is dependent on the PlayCanvas engine as it adds new functionality: https://github.com/playcanvas/engine

So far, I've tried the following:
[code]

And the following config:
[code]
And get the following error:
[code]

I understand that the @external tag is not supported, what would b

[2020-08-31 22:10] ThisNameNotUsed opened #142 "Cannot instantiate type Cesium.Property."
![image](https://user-images.githubusercontent.com/5694650/91773396-8a3e0500-eb9b-11ea-91ad-52c8959933d6.png)

I get TS errors for each field that wants a Cesium.Property type. I am new to typescript so maybe there is an easy workaround for this I don't know about? Shouldn't the type Cesium expects be something you can easily instantiate yourself?

[2020-08-31 22:18] ThisNameNotUsed commented on #142
I thought this repository was Cesium specific but I guess I am wrong. I'll try to find the correct repository to post this issue on. Please delete?

[2020-08-31 22:18] #142 closed, assigned to nobody

[2020-09-13 19:57] magicmatatjahu commented on #53
@englercj Hello! Firstly: great job with the library! Probably this issue will be good place to my problem in https://github.com/asyncapi/parser-js/pull/118 PR. If you had time to understand the problem and suggest solution, if I'm doing something wrong, or maybe the library has a bug in my case, I'd appreciate it.

So... I have a definition for mixins like:

[code]

and then I use those mixins to

[2020-10-29 10:06] bkuster commented on #89
So, I've been having the same issue and decided to try changing modules to _imports_, e.g. something like this:

[code]

This turns:
[code]
into
[code]

Thoughts?

[2020-10-29 12:51] bkuster opened #143 "keys may need quotes"
I have some badly designed legacy interfaces to deal with, which use a ton of kebab keys:
[code]
which gives me:
[code]
where it should return:
[code]

[2020-10-29 13:40] bkuster commented on #143
nvm. I can fix this by adding "identifier" to the doclet. sorry for the noise

[2020-10-29 13:40] #143 closed, assigned to nobody

[2021-03-02 13:14] ThrowsException opened #146 "Can this reexport classes?"
I have a file that imports a bunch of classes and Id like to reexport them from there as properties something like

[code]

[code]

but my types.d.ts makes the `Point` export a var and I get the complaint that it can't be `new` since its not a function or constrcutor

[code]

is it possible to add `Point` as an export to app so I can call `new app.Point(x,y)` ?

[2022-04-15 16:31] thw0rted opened #148 "Support @event tag"
Looking around StackOverflow and various blog posts, it seems like the [event tag](https://jsdoc.app/tags-event.html) might be one of the least-well-understood tags.  Right now, as far as I can tell, `tsd-jsdoc` just ignores it.

I *think* it's meant to work similarly to a `@typedef` -- when I declare an event, I'm saying that the owning function / class / namespace will at some point invoke a cal

[2022-07-06 09:02] thw0rted opened #149 "Add support for rest-parameter tuple types"
I've run into [an incompatibility between JSDoc and Typescript](https://github.com/CesiumGS/cesium/issues/10498), and I'm really not sure how to fix it.

The short version is, I need to create the type `function foo(...args: [A, B])` -- or, more specifically, `function foo(...args: Parameters<OtherFunc>)` -- but the JSDoc format for rest-parameters automatically turns `@parameter {...X}` into an a

[2022-07-06 09:16] thw0rted commented on #149
Created https://github.com/microsoft/TypeScript/issues/49801 , in case you want to track.

[2022-07-09 11:48] chaliy opened #150 "Support <reference types="node" /> and adding import"
I have my class extending `EventEmitter` from node

[code]

After I am generating `types.d.ts`, it does not include reference to node and import:

[code]

Is there any way to instruct `tsd-jsdoc` to generate such reference and import?

[2022-10-07 22:12] dobesv opened #151 "Typedefs with properties emit `type = { ... }` instead of an interface"
TypeScript best practice is to use `interface` to define these kinds of types, but this generator output `type Xxx = { ... }` instead.

[2022-10-07 22:14] dobesv opened #152 "Support extends for typedef"
It would be nice if `@extends` could be used with `@typedef`, for example:

[code]

Would give something like:

[code]